# data
train_dataset/**
input/**
submission.txt
submit/**
download.sh

# model config
configs/**

# sketches
sketches/**

# log, chache
events*
log.txt
__pycache__
.idea
checkpoints/**
tensorboard/**
*.pth
.DS_Store
wandb/**
*.yaml

# etc
.empty/**
.vscode/**
.ipynb_checkpoints/**
