albumentations==0.5.2
editdistance==0.5.3
matplotlib==3.4.2
numpy==1.20.3
opencv-python==3.4.4.19
pandas==1.2.4
Pillow==8.1.1
scikit-image==0.18.1
scipy==1.6.3
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==1.7.1+cu101
torchvision==0.8.2+cu101
tqdm==4.28.1
transformers==4.6.1
wandb==0.10.31
timm==0.4.9
importlib==1.0.4